<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="NeoGIGContext" connectionString="Data Source=SQLProd;Initial Catalog=NeoGIG;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3prodo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="CentralizadorContext" connectionString="Data Source=SQLProd;Initial Catalog=Centralizador;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3prodo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="MyContext" connectionString="Data Source=.\localhost;Initial Catalog=FakeItEasy;Integrated Security=True" />
    <!--<add name="CentralizadorContext" connectionString="Data Source=estonia;Initial Catalog=Centralizador;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3prodo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="NeoGIGContext" connectionString="Data Source=bddev;Initial Catalog=NeoGIG_DigitalLeader;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3devo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="LogContext" connectionString="Data Source=bddev;Initial Catalog=Centralizador;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3prodo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CentralizadorContext" connectionString="Data Source=bddev;Initial Catalog=Neogig_Log;Persist Security Info=True;User ID=usr_neogig;Password=r2kR9HD0XJ5Uyjsy6Xxweh3prodo4gzaP8IA79KdixqyP17H;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>